* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  padding-top: 80px;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding: 0 calc(50% - 1280px / 2);
}
